@import "tailwindcss";


:root {
  --foreground: #171717;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background: transparent !important; 
}


html, body, #__next {
  height: 100%;
  width: 100%;
}